<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="CustomerMapper" type="com.djh.ssm.mapper.CustomerMapper"/>
         <typeAlias alias="Customer" type="com.djh.ssm.pojo.Customer"/>
    </typeAliases>
    <mappers>
        <mapper resource="com/djh/ssm/mapper/CustomerMapper.xml" />
<!--     	<package name="com/djh/ssm/mapper/CustomerMapper.xml"></package>   -->  
    </mappers>
</configuration>